<section id="about" class="about">
<div class="container">
    <div class="row no-gutters">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
        <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
            <h3>About Me</h3>
            <p>
                A top performer in advancing technological innovation and development in the realm of enterprise software development. Established success in leadership, operational effectiveness, and fostering organizational growth, coupled with a thorough understanding of various aspects of the tech industry. Acknowledged for inspiring team members and cultivating an atmosphere that nurtures creativity and excellence.
            </p>
            <p><br>
                A software engineer with over a decade of practical experience, I bring resourcefulness and proficiency to the table. Proven track record of contributing across the entire software development life cycle, encompassing requirements analysis, architecture design, thorough testing, and successful deployment.
            </p>
            <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Happy Clients</strong></p>
                </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Projects</strong></p>
                </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Years of experience</strong></p>
                </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Awards</strong></p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
