<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title">
        <h2>Skills</h2>
        <p><strong>Languages:</strong> C#, PHP, Java, </p>
        <p><strong>Web:</strong> JavaScript, NodeJS, Angular, Vue.js, jQuery, Kendo UI, CSS3, HTML5, Bootstrap, XML, AJAX</p>
        <p><strong>Web Services:</strong> SOAP, WCF, Web API, Microservices, REST, JSON</p>
        <p><strong>Web/App Servers:</strong> Apache/Tomcat, IIS</p>
        <p><strong>Frameworks:</strong> .NET, ASP .NET, Spring, TensorFlow, PyTorch, Keras, AutoML/p>
        <p><strong>Databases:</strong> MS SQL, MySQL, SQLite, MongoDB, Postgresql, Firebase, Oracle</p>
        <p><strong>SDLC:</strong> Agile, Waterfall, Domain-Driven Design (DDD), Test-Driven Development (TDD)</p>
        <p><strong>Tools:</strong> Visual Studio, VS Code, IntelliJ IDEA, Eclipse, SQLyog, Postman, Telerik, DevExpress, Devart, Log4net, HiQPdf, SQL Profiler, StarUML, Docker, Kubernetes, MSTest</p>
        <p><strong>Platforms:</strong> Windows, Linux</p>
        <p><strong>Big Data:</strong> Hadoop, MapReduce, Spark</p>
        <p><strong>Cloud:</strong> Aws</p>
        </div>
        <div class="row skills-content">
        <div class="col-lg-6">
            <div class="progress">
            <span class="skill">C# <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

            <div class="progress">
            <span class="skill">ASP.NET <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

            <div class="progress">
            <span class="skill">Angular <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="progress">
            <span class="skill">Java <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

            <div class="progress">
            <span class="skill">MS SQL <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

            <div class="progress">
            <span class="skill">Aws <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

        </div>

        </div>
    </div>
</section><!-- End Skills Section -->