  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Hi, I'm Sabbir!</h1>
    <h2>I am a Software Engineer</h2>
    <a href="#about" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
  </section><!-- End Hero -->
   
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#skills">Skills</a></li>
          <li><a class="nav-link scrollto" href="#workexperience">Work experience</a></li>
          <li><a class="nav-link scrollto" href="#eduction">Eduction</a></li>
          <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3>About Me</h3>
              <p>
                A top performer in advancing technological innovation and development in the realm of enterprise software development. Established success in leadership, operational effectiveness, and fostering organizational growth, coupled with a thorough understanding of various aspects of the tech industry. Acknowledged for inspiring team members and cultivating an atmosphere that nurtures creativity and excellence.
              </p>
              <p><br>
                A software engineer with over a decade of practical experience, I bring resourcefulness and proficiency to the table. Proven track record of contributing across the entire software development life cycle, encompassing requirements analysis, architecture design, thorough testing, and successful deployment.
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Happy Clients</strong></p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Projects</strong></p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Years of experience</strong></p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Awards</strong></p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p><strong>Languages:</strong> C, Java, C#</p>
          <p><strong>Web:</strong> JavaScript, NodeJS, Angular, jQuery, Kendo UI, CSS3, HTML5, Bootstrap, XML, AJAX</p>
          <p><strong>Web Services:</strong> SOAP, WCF, Web API, Microservices, REST, JSON</p>
          <p><strong>Web/App Servers:</strong> Apache/Tomcat, IIS</p>
          <p><strong>Frameworks:</strong> .NET, ASP .NET, Spring, TensorFlow, PyTorch, Keras, AutoML/p>
          <p><strong>Databases:</strong> MS SQL, MySQL, SQLite, MongoDB, Firebase, Oracle</p>
          <p><strong>SDLC:</strong> Agile, Waterfall, Domain-Driven Design (DDD), Test-Driven Development (TDD)</p>
          <p><strong>Tools:</strong> Visual Studio, VS Code, IntelliJ IDEA, Eclipse, SQLyog, Postman, Telerik, DevExpress, Devart, Log4net, HiQPdf, SQL Profiler, StarUML, Docker, Kubernetes, MSTest</p>
          <p><strong>Platforms:</strong> Windows, Linux</p>
          <p><strong>Big Data:</strong> Hadoop, MapReduce, Spark</p>
          <p><strong>Cloud:</strong> Aws</p>
        </div>

        <div class="row skills-content">
          <div class="col-lg-6">
            <div class="progress">
              <span class="skill">C# <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">ASP.NET <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Angular <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="progress">
              <span class="skill">Java <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MS SQL <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Aws <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Work Experience Section ======= -->
    <section id="workexperience" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Work Experience</h2>
          <p>Managed challenging tasks with a focus on detail and efficiency. Accomplished in navigating complex situations and finding effective solutions. Adaptable and dedicated to delivering high-quality results. Proven ability to work collaboratively in dynamic environments.</p>
        </div>
   
        <div class="row">
           <div class="col-lg-12">
                <div class="resume-item">
                  <h4>Software Engineer</h4>
                  <h5>2023 - Present</h5>
                  <p><em>Outlier, Phoniex, Arizona </em></p>
                  <div>
                      <ul>
                        <li>Acted as C# developer for sales automation project</li>
                        <li>Drove and executed technical resolutions, processes, and best practices. </li>
                        <li>Diagnosed performance bottlenecks in existing application, using tools and design solutions for performance optimization. </li>
                        <li><strong>Technologies Used:</strong>C#, ASP.NET MVC, Web API, PHP, jQuery, vue.js, MySQL, Cold Fusion, AWS</li>
                      </ul>
                  </div>
                </div>
                <div class="resume-item">
                  <h4>Lead Engineer</h4>
                  <h5>2018 - 2022</h5>
                  <p><em>Brain Station 23 LTD, Dhaka, Bangladesh</em></p>
                  <div>
                      <ul>
                        <li>Led 6-person team of junior engineers in software development during team expansion of 600%.</li>
                        <li>Managed client needs and feedback while client business grew 400% from 60 to 250+.</li>
                        <li>Designed user interfaces and performed manual testing and Coded UI Testing.</li>
                        <li>Implemented databases and wrote optimized queries. Tuned system performance.</li>
                        <li><strong>Technologies Used:</strong>C#, ASP .NET (MVC, Core), Web API, jQuery, MySQL, Kendo UI, Telerik Reporting, Devart, JIRA, DevOps, MSTest</li>
                      </ul>
                  </div>
                </div>
                <div class="resume-item">
                  <h4>Senior Software Engineer</h4>
                  <h5>2013 - 2017</h5>
                  <p><em>Brain Station 23 LTD, Dhaka, Bangladesh</em></p>
                  <div>
                      <ul>
                        <li>Designed, developed, and deployed major software projects.</li>
                        <li>Guided engineers during team and client expansion.</li>
                        <li>Successfully developed and delivered multiple software solutions.</li>
                        <li>Performed code review and testing to optimize application performance.</li>
                        <li><strong>Technologies Used:</strong>C#, ASP .NET (MVC, Core), Web API, jQuery, MySQL, Kendo UI, Telerik Reporting, Devart, JIRA, DevOps, MSTest</li>
                      </ul>
                  </div>
                </div>
           </div>
        </div>
       
      </div>
    </section><!-- End Work Experience Section -->

    <!-- ======= Eduction Section ======= -->
    <section id="eduction" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Eduction</h2>
        </div>
   
        <div class="row">
          <div class="col-lg-12">
            <div class="resume-item">
              <h4>Masters in computer science</h4>
              <h5>2022 - 2024</h5>
              <p><em>Maharishi International University, Fairfield, Iowa</em></p>
              <p>In progress via distance education; expected completion February 2024. Completed Modern Programming Practices, Machine Learning; Big Data, Algorithms, Software Architecture.</p>
            </div>

            <div class="resume-item">
              <h4>Bachelor of Science in Computer Science</h4>
              <h5>2002 - 2008</h5>
              <p><em>The University of Asia Pacific, Dhaka, Bangladesh</em></p>
              <p>In the middle of my course, i was sick due to dengue and its after effect. Thats why i was delayed to complete my program.</p>
            </div>

         </div>
        </div>
       
      </div>
    </section><!-- End Eduction Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Blog</h2>
          <p>Coming Soon..</p>
        </div>
      </div>
    </section>  

      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>I'd Love To Hear From You.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <h3>Hi</h3>
              <p>Connect with me.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div class="d-flex align-items-center">
                <i class="bi bi-geo-alt"></i>
                <p>150 S Roosevelt Rd, Mesa, AZ 85202</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-envelope"></i>
                <p>khandokarsabbir&#64;gmail.com</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-phone"></i>
                <p>+1 (641) 819-2689</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <form action="#" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<router-outlet></router-outlet>
