<section id="blog" class="portfolio section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Blog</h2>
            <p>My Recent Blog</p>
        </div>      
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/CICDElasticBeans.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="https://medium.com/@khandokarsabbir/how-to-deploy-a-net-4b487c66a8b6" target="_blank" style="color: white;">CICD using Elastic Beanstalk, <br>CodeCommit, CodeBuild, CodePipeline</a></h4>
                  <p></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>  