<!-- ======= Work Experience Section ======= -->
<section id="workexperience" class="resume section-bg">
<div class="container">

    <div class="section-title">
    <h2>Work Experience</h2>
    <p>Managed challenging tasks with a focus on detail and efficiency. Accomplished in navigating complex situations and finding effective solutions. Adaptable and dedicated to delivering high-quality results. Proven ability to work collaboratively in dynamic environments.</p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="resume-item">
            <h4>Software Engineer</h4>
            <h5>2023 - Present</h5>
            <p><em>Outlier, Phoniex, Arizona </em></p>
            <div>
                <ul>
                    <li>Acted as C# developer for sales automation project</li>
                    <li>Drove and executed technical resolutions, processes, and best practices. </li>
                    <li>Diagnosed performance bottlenecks in existing application, using tools and design solutions for performance optimization. </li>
                    <li><strong>Technologies Used:</strong>C#, ASP.NET MVC, Web API, PHP, jQuery, vue.js, MySQL, Cold Fusion, AWS</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
            <h4>Lead Engineer</h4>
            <h5>2018 - 2022</h5>
            <p><em>Brain Station 23 Ltd, Dhaka, Bangladesh</em></p>
            <div>
                <ul>
                    <li>Led 6-person team of junior engineers in software development during team expansion of 600%.</li>
                    <li>Managed client needs and feedback while client business grew 400% from 60 to 250+.</li>
                    <li>Designed user interfaces and performed manual testing and Coded UI Testing.</li>
                    <li>Implemented databases and wrote optimized queries. Tuned system performance.</li>
                    <li><strong>Technologies Used:</strong>C#, ASP .NET (MVC, Core), Web API, jQuery, MySQL, Kendo UI, Telerik Reporting, Devart, JIRA, DevOps, MSTest</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
            <h4>Senior Software Engineer</h4>
            <h5>2013 - 2017</h5>
            <p><em>Brain Station 23 Ltd, Dhaka, Bangladesh</em></p>
            <div>
                <ul>
                    <li>Designed, developed, and deployed major software projects.</li>
                    <li>Guided engineers during team and client expansion.</li>
                    <li>Successfully developed and delivered multiple software solutions.</li>
                    <li>Performed code review and testing to optimize application performance.</li>
                    <li><strong>Technologies Used:</strong>C#, ASP .NET (MVC, Core), Web API, jQuery, MySQL, Kendo UI, Telerik Reporting, Devart, JIRA, DevOps, MSTest</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
            <h4>Software Developer</h4>
            <h5>2009 - 2011</h5>
            <p><em>Business Consulting Service, Dhaka, Bangladesh</em></p>
            <div>
                <ul>
                    <li>Designed, implemented, and coded user interfaces and databases.</li>
                    <li>Developed business-critical software which controls product promotional budgets and tracks promotional expenses.</li>
                    <li>Project was developed for client Sandoz and later sold to pharma and animal health divisions of Novartis Bangladesh Ltd.</li>
                    <li><strong>Technologies Used:</strong>C#, MS SQL, DevExpress, RDLC, Visual SourceSafe, MSTest</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
            <h4>.NET Programmer</h4>
            <h5>2008 - 2009</h5>
            <p><em>Technohaven Company Ltd, Dhaka, Bangladesh</em></p>
            <div>
                <ul>
                    <li>Planned and implemented user interfaces and databases.</li>
                    <li>Coded and implemented modules for promotional product software for Sandoz client.</li>
                    <li>Accomplished development tasks within assigned time limit and proposed budget.</li>
                    <li><strong>Technologies Used:</strong>C#, MS SQL, DevExpress, RDLC, Visual SourceSafe, MSTest</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    
</div>
</section><!-- End Work Experience Section -->
