<section id="workexperience" class="resume section-bg">
<div class="container">

    <div class="section-title">
    <h2>Work Experience</h2>
    <p>Managed challenging tasks with a focus on detail and efficiency. Accomplished in navigating complex situations and 
        finding effective solutions. Adaptable and dedicated to delivering high-quality results. Proven ability to work 
        collaboratively in dynamic environments.</p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="resume-item">
            <h4>Passageware</h4>
            <p><em>Outlier, Phoniex, Arizona </em></p>
            <p>Passport Health is the largest provider of travel medicine services with travel clinics throughout the United States. 
               Passport Health manage appointment booking, flu scheduling, Invoice, charting, Office, user, doctor info, report and many more.
               It is a large application with web api, windows service, webserice and MVC.</p>
            <div>
                <ul>
                    <li>Woring as C# developer</li>
                    <li>Drove and executed technical resolutions, processes, and best practices. </li>
                    <li>Diagnosed performance bottlenecks in existing application, using tools and design solutions for performance optimization. </li>
                    <li><strong>Technologies Used:</strong>C#, ASP.NET MVC, Web API, jQuery, MSSQL, Cold Fusion, AWS</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
            <h4>Twilio Call-Center</h4>
            <p><em>Outlier, Phoniex, Arizona </em></p>
            <p>People who want to travel can book appointment by calling the call center for vaccine, booster, physical exam, 
                consultation etc. The application used by the call center is built by Twilio JavaScript sdk. Customers can make 
                voice calls, send voice messages to the hotline numbers. A large team of customer service representatives (CSR) 
                working in the call center are using this application</p>
            <div>
                <ul>
                    <li>Working as PHP developer.</li>
                    <li>Managed client needs and feedback.</li>
                    <li>Designed user interfaces and Unit Testing.</li>
                    <li>Implemented databases and wrote optimized queries. Tuned system performance.</li>
                    <li><strong>Technologies Used:</strong>PHP, Larevel, Javascript, jQuery, Web API, Postgresql, AWS</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
            <h4>Self Schedule</h4>
            <p><em>Outlier, Phoniex, Arizona </em></p>
            <p>This application is basically used by nurses for making their schedule plan. Adminnstrator can monitor,
                approve or deny their Plan. Other functionality includes holiday mannagement, user mannagement etc. 
            </p>
            <div>
                <ul>
                    <li>Working as Vue.js developer.</li>
                    <li>Implemennt client needs and feedback.</li>
                    <li>Performed code review and testing to optimize application performance.</li>
                    <li><strong>Technologies Used:</strong>PHP, Larevel, Vue.js, jQuery, Web API, Postgresql, AWS</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
            <h4>nVision</h4>
            <p><em>Brain Station 23 Ltd, Dhaka, Banngladesh</em></p>
            <p>nVision mainly used for Sales force management, It is the most popular Salesforce system in Denmark. 
                It is a large project. nVision has very large customer and it is growing day by day.it exists 6 different components -
                1. IPad/iPhone app (used by sales rep (end user)), 
                2. Web shop- its ecommerce applications (Order place by end users beside iPad). 
                3. Main Web application (nvision Office) is for Company management, User management, Data Filter Management, Setting management, Email Template configuration, Schedule Management, Provide facility for viewing master data like product, Customer, Customer Visit, Order etc. 
                4. DataPort- It is a continuously running Windows Service, it imports data from different source like QuickBooks , Economic, Uniconta, Bex, Microsoft NAV, Firebase, Dropbox, file System etc. to nVision Office and exports Orders from nVision Office to mentioned sources. 
                5. nVision WCF Service/ Web Api – iPad/iPhone and Webshop access data (import customer, item, and visit and export Order) using this websevice, generate Order PDF, sending emails etc. 
                6. Dataport client – Desktop tool used to map between xml and table field.  </p>
            <div>
                <ul>
                    <li>Designed, implemented, and coded user interfaces and databases.</li>
                    <li>Design database & UI, Coding, Code review, Query optimization</li>
                    <li>Perform UI Testing and Coded UI Testing.</li>
                    <li><strong>Technologies Used:</strong>C#, Asp.net MVC, Asp.net core, Web Api, Jquery, My SQL, Kendo UI, Telerik Reporting, Devart, Jira, DevOps, MSTest, Coded UI Testing</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
            <h4>JetBet</h4>
            <p><em>Nordic Soft Ltd, Dhaka, Banngladesh </em></p>
            <p>Lottery Game (through Mobile) is a one of the most popular game. Player bet number through their Mobile. 
                Player receives Round, Ticket, Draw date & time in a return message. Eight different winning category exists with 
                different winning price. Fifty percent amount of total sold ticket is the total draw amount which will distribute 
                among different category winners. If no winner found in a specific category of a draw, the amount will go to 
                same category of next round or next category of the same round. So, if user wins a big amount, he is requested 
                to contact with the Mobile Company otherwise refunds to mobile. A third party Company named MOBI.DENGI is responsible 
                for refunding to winners.
                </p>
            <div>
                <ul>
                    <li>Design database & UI, Implementation, Code review, Query optimization, Performance Optimization.</li>
                    <li>Perform UI Testing.</li>
                    <li>Database configuration and publishing the application.</li>
                    <li><strong>Technologies Used:</strong>C#, ASP.NET 4, MS SQL Server 2008, Short Message Peer to Peer(SMPP), MSTest</li>
                </ul>
            </div>
            </div>
            <div class="resume-item">
                <h4>More....</h4>
                <p><a href="https://docs.google.com/document/d/1mKnrQ2wB7nXHtPNapyZH--1plpfSjlgx/edit?usp=sharing&ouid=109816893935547556199&rtpof=true&sd=true" target="_blank">My Resume</a></p>
            </div>
        </div>
    </div>   
</div>
</section>
